.header {

}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {

}

.title {
  font-size: 57px;
  line-height: 64px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 28px;
  line-height: 36px;
}