* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-roboto-regular), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1792px;
  margin: 0 auto;
  padding: 0 64px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  cursor: pointer;
}

input {
  width: 100%;
  box-sizing: border-box;
}
